.cards-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 8em;

    background-image: url('/assets/BigImgs/DJI_0019-Pano.jpg');
    background-size: cover;
    background-position: center center;

                                                        /* background: #ffce95;
                                                        background: -webkit-radial-gradient(circle, #ffce95 0%, #f1f1f1 100%);
                                                        background: radial-gradient(circle at right, #ffce95 0%, #f1f1f1 100%);    
    
                                                        z-index: -1;
                                                        background: radial-gradient(ellipse at right, rgba(241, 157, 30, 0.713) 0%, transparent 40%); */
}

/* .cardsDetailImageOverlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.185), transparent);
    height: 100%;
} */


.card-detail {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 16px;
    overflow: hidden;
    
    color: rgb(246, 246, 232);
    background: #eae9e93f;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.175);
                                                        /* background-color: rgba(123, 238, 238, 0.297);
                                                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.card-content {
    flex: 1;
    padding: 10px;
    align-self: self-start;
    margin-top: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    overflow: hidden;
    transform: translateX(-25%);
    transition: align-items 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), justify-content 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-content.hovering {
    transition: align-items 2.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), justify-content 2.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 2.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(0);
}

.card-content h3 {
    font-family: 'Staatliches', sans-serif;
    font-size: 2em;
    text-align: center;
    transition: text-align 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-content.hovering h3 {
    transition: text-align 2.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-align: left;
}

.card-content p {
    text-align: center;
    transition: text-align 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-content.hovering p {
    transition: text-align 2.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-align: left;
}

/* .card-content:hover {
    width: 250%;
} */

/* h6:hover {
    width: 150%;
    margin-left: -50%;
} */

.div-img-container {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.card-img {
    max-width: 50%;
    height: auto;
    background-size: cover;
    transition: max-width 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-img.hovering {
    transition: max-width 2.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card-img-1 {
    background-image: url('../../assets/CardsImg/GOPR3336.jpg');
    height: 100%;
}

.card-img-2 {
    background-image: url('../../assets/CardsImg/_DSC0016.jpg');
    height: 100%;
}

.card-img-3 {
    background-image: url('../../assets/CardsImg/_DSC0125.jpg');
    height: 100%;
}

.card-img.hovering {
    max-width: 250%;
}


/* Cambiar el tamaño de la imagen con un click ( useState ) */
/* .expanded-1 {
    max-width: 250%; 
} 
.expanded-2 {
    max-width: 250%;
} 
.expanded-3 {
    max-width: 250%;
} */
/* Cambiar el tamaño de la imagen con un click ( useState ) */


.card-detail-1-y-3 {
    margin-right: 3em;
}

.card-detail-2 {
    margin-left: 3em;
}

@media (max-width: 768px) {
    
    .card-content {
        padding: 10px;
        max-height: 300px;
        margin-top: 3px;
    }

    .card-detail {
        width: 330px;
    }
                                                        /* .card-img {
                                                            width: 60%;
                                                            height: auto;
                                                        }
                                                        .cards-container {
                                                            padding: 10px;
                                                        }

                                                        .card {
                                                            flex-direction: column;
                                                            width: 100%;
                                                        } */

                                                        /* .card-image,
                                                        .card-content {
                                                            flex: initial;
                                                        } */

}