
.carousel {
    width: 100%;
    justify-content: center;
    position: relative;
}

.carrousel-img {
    height: 900px;
    object-fit: cover;
}

/* Estilos para los controles del carousel de CoreUI */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

/* Estilos para los indicadores centrados */
.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
    z-index: 15;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: fit-content;
    background: transparent;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0 !important;
    margin-bottom: 30px !important;
}

.carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
}

.carousel-indicators button.active {
    background-color: rgba(255, 255, 255, 1);
    border-color: white;
    width: 14px;
    height: 14px;
}


/* .carrousel-section {
    width: 100vw;
    justify-self: center;
    height: 100%;
    padding-top: 6em;
    padding-bottom: 5em;
    border: 0px solid #369;
    background-color: rgb(27, 25, 25);
} */

/* .carousel:hover {
    border: .1px solid red !important;
} */

/* .carousel:active {
    border: 0px solid #369 !important;
    border: .5px solid red !important;
} */

/* border: 0px solid #369 !important; */
/* .carousel:active {
    border: 5px solid rgb(51, 153, 73) !important;
} */

/* .carrousel-img {
    width: 350px;
    height: 350px;
} */


/* @media (max-width: 900px) {

    .carrousel {
        width: 80%;
        justify-content: center;
    }
} */








/* .carrouselImg1 {
    background-image: url('../../assets/CardsImg/_DSC0016.jpg');
    background-size: cover;
    background-position: center;
}

.carrouselImg2 {
    background-image: url('../../assets/CardsImg/_DSC0044.jpg');
    background-size: cover;
    background-position: center;
}

.carrouselImg3 {
    background-image: url('../../assets/CardsImg/_DSC0057.jpg');
    background-size: cover;
    background-position: center;
}
.carrouselImg4 {
    background-image: url('../../assets/CardsImg/_DSC0125.jpg');
    background-size: cover;
    background-position: center;
}
.carrouselImg5 {
    background-image: url('../../assets/CardsImg/_DSC0056.jpg');
    background-size: cover;
    background-position: center;
}
.carrouselImg6 {
    background-image: url('../../assets/CardsImg/_DSC0123.jpg');
    background-size: cover;
    background-position: center;
}
.carrouselImg7 {
    background-image: url('../../assets/CardsImg/_DSC0019.jpg');
    background-size: cover;
    background-position: center;
} */